<IfModule mod_rewrite.c>
    RewriteEngine On

    # If the requested filename exists, serve it directly.
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, forward the request to index.php
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        # If mod_rewrite is not available, redirect the start page to index.php
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>
